/* 
li {
    color: orange;
}
#fruit-title {
    color: black
}
.sweet {
    color: green;
}
.learn {
    color: blueviolet;
} */
.bg-blue{
    background-color: blue;
    color: red;
}
.yellow-text {
    color: yellow;
    background-color: black;
}